.table td, .table th {
    vertical-align: middle;
}
.card-header {
    background-color: #ffffff;
}
.order-status {
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    font-weight: 700;
    padding: 0 10px 0 10px;
    text-transform: uppercase;
}
.table-encomendas .order-status{
    font-size: 11px;
}
.status-pendente {
    color: #e28a4f;
    background-color: rgba(254,165,105,0.2);
}
.status-fechada {
    color: #717070;
    background-color: rgba(153,153,153,0.1);
}
.status-anulada {
    color: #f44336;
    background-color: rgba(244,67,54,0.1);
}
.status-paga {
    color: #00a65a;
    background-color: rgba(0,166,90,0.1);
}


.cart-item_product__thumbnailx, .shirt_thumb{
    max-width: 80px;
    width: 80px;
    padding: .3rem;
    position: relative;
}
.shirt_thumb > img{
    max-width: 80px;
    width: 100%;
}
.shirt_thumb-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shirt_thumb-overlay img{
    width: 100%;
    max-width: 1.85em;
    transform: translateY(-.35rem);
}

.card-resume{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align:center;
    align-items: center;
}
.card-resume .icon {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 15px;
    text-align: center;
}
.icon-sm {
    width: 48px;
    height: 48px;
    line-height: 48px!important;
    font-size: 20px;
}
.card-resume span.text-sm {
    font-size: 12px;
    font-weight: 400;
    color: #6c757d;
}
.card-resume span:not(.text-sm) {
    font-size: 22px;
    font-weight: 600;
    display: block;
    color: #1b1e31!important;
}
.bg-primary-light {
    background-color: rgba(8,129,120,0.2)!important;
}
.bg-success-light {
    background-color: rgba(0, 181, 23, 0.2) !important;
}
.bg-warning-light {
    background-color: rgba(253, 138, 20, 0.2) !important;
}
.bg-info-light {
    background-color: rgba(39,202,228 , 0.2) !important;
}

.text-warning {
    color: #fd8a14 !important;
}
.text-info {
    color: #0dcaf0 !important;
}

.br-0{ border-radius: 0}

.no-gutters .cl+.cl >.card{
    border-left-width: 0;
}

.table-colors td.color i {
    display: inline-block;
    cursor: pointer;
    vertical-align: text-top;
    height: 16px;
    width: 16px;
    position: relative;
    border: 1px solid #ddd;
}

@media (max-width: 767.98px) {
    .btn-block-sm {
        display: block;
        width: 100%;
    }
    .no-gutters .cl+.cl >.card{
        border-left-width: 1px;
    }
    .btn-block-sm + .btn-block-sm {
        margin-top: 0.5rem;
    }
    input[type=submit].btn-block-sm,
    input[type=reset].btn-block-sm,
    input[type=button].btn-block-sm {
        width: 100%;
    }
}
